<div class="bf-navbar">
	<md-toolbar md-scroll-shrink class="md-menu-toolbar bf-navbar__logo-block">
	  <div class="md-toolbar-tools" layout="row" layout-align="start center">
	    <img flex-gt-sm="5" src="assets/images/beta-fish-navbar-mark.svg">
	    <h3 flex-gt-sm="10" class="navbar-logo__text bf-display">Beta Fish</h3>
	  </div>
	</md-toolbar>
	<md-nav-bar
	  md-selected-nav-item="'main'"
	  nav-bar-aria-label="navigation links"
	  class="bf-navbar__tabs"
	>
		<md-nav-item name="main" md-nav-sref="main">
		  Home
		</md-nav-item>
  	<md-nav-item name="features" md-nav-sref="features">
    	Features
  	</md-nav-item>
  	<md-nav-item name="about" md-nav-sref="about">
    	About
  	</md-nav-item>
  </md-nav-bar>
</div>
