$palette--accent: #F09C58;
body {
  font-size: 18px;
}
img {
  max-width: 100%;
  height: auto;
}
.bf-display {
  font-family: 'Bebas Neue';
}
.bf-headline {
  @extend .bf-display;
  font-size: 3.2em;
}
.navbar-logo {
  &__text {
    color: $palette--accent;
    font-size: 1.4em !important;
    padding-left: 0.3em;
    padding-bottom: 0.2em;
  }
}
.headline-block {
  background: $palette--accent;
  color: #FFF;
  .bf-headline {
    max-width: 360px;
    line-height: 1.2em;
  }
  aside {
    font-weight: 700;
    font-size: 1.4em;
    max-width: 360px;
  }
}
.graphic-block {
  background-image: linear-gradient(-180deg, #98BDE2 0%, #6A9CD0 100%);
  img {
    max-width: 80%;
    height: auto;
    margin: 2em;
  }
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}
