$palette--accent: #F09C58;
body {
  font-size: 18px;
}
img {
  max-width: 100%;
  height: auto;
}
label {
  font-weight: 400;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.bf-display {
  font-family: 'Bebas Neue';
}
.bf-headline {
  @extend .bf-display;
  font-size: 3.2em;
}
.navbar-logo {
  &__text {
    color: $palette--accent;
    font-size: 1.4em !important;
    padding-left: 0.3em;
    padding-bottom: 0.2em;
  }
}
.headline-block {
  background: $palette--accent;
  color: #FFF;
  .bf-headline {
    max-width: 360px;
    line-height: 1.2em;
  }
  aside {
    font-weight: 600;
    font-size: 1.4em;
    max-width: 360px;
  }
}
.graphic-block {
  background-image: linear-gradient(-180deg, #98BDE2 0%, #6A9CD0 100%);
  img {
    max-width: 80%;
    height: auto;
    margin: 2em;
  }
}
.samples {
  margin-top: 2em;
  h4 {
    padding: 1em;
  }
}
.or-block {
  padding: 1em 0;
  p {
    padding: 0 2em;
  }
  &__rule {
    width: 200px;
  }
}
.cta {
  margin: 2em 0;
  &__divider {
    margin: 1em 2em;
  }
}
