$palette--accent: #FF9B4A;
$palette--accent--hover: #FCAE4F;
$palette--primary: #6A9CD0;
$palette--bg: #FAFAFA;
$shadow--level-1: 0px 2px 0px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
$shadow--level-2: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
$rule: thin solid rgba(0,0,0,0.12);
$font-weight--regular: 400;
$font-weight--bold: 600;
html {
  background-color: $palette--bg;
}
body {
  font-size: 18px;
  font-family: 'Open Sans';
}
img {
  max-width: 100%;
  height: auto;
  padding: 0.5em;
}
label {
  font-weight: $font-weight--regular;
}
[flex] {
  display: block;
}
.md-button {
  font-weight: $font-weight--bold !important;
}
.md-button.md-accent {
  color: #FF9B4A;
}
.md-button.md-raised.md-accent {
  color: #FFF;
  background-color: $palette--accent !important;
  &:not([disabled]):hover {
    background-color: $palette--accent--hover !important;
  }
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.bf-headline {
  font-family: 'Bebas Neue';
}
h2.bf-headline {
  font-size: 2.8em;    
}
h3.bf-headline {
  font-size: 2.2em;    
}
h4.bf-headline {
  font-size: 1.6em;
}
.bf-display {
  @extend .bf-headline;
  font-size: 3.2;
}
.bf-page-title {
  background: $palette--accent;
  color: #FFF;
  padding: 1em 2em 1em;
  margin-bottom: 1em;
}
.reading-content {
  padding-left: 1.5em;
  margin-bottom: 2em;
}
.inverted {
  color: #FFF;
}
.bf-navbar {
  &__logo-block {
    padding-bottom: 0.5em;
  }
  &__tabs {
    .md-nav-bar {
      box-shadow: $shadow--level-2;
    }
  }
}

.navbar-logo {
  &__text {
    color: $palette--accent;
    font-size: 1.4em !important;
    padding-left: 0em;
    padding-bottom: 0.2em;
  }
}
.display-block {
  padding-top: 1.2em;
  background: $palette--accent;
  color: #FFF;
  .bf-display {
    @media (min-width: 900px) {
      margin-top: 1.2em;
      margin-left: 0.8em;
    }
    max-width: 360px;
    line-height: 1.2em;
  }
  aside {
    margin-top: 1.2em;
    font-weight: $font-weight--bold;
    font-size: 1.2em;
    max-width: 360px;
  }
}
.features-row {
  padding: 4em 0;
  background: #FFF;
  & + .features-row {
    padding-top: 0;
  }
  .features-list {
    p {
      padding-top: 0.18em;
    }
  }
}

.graphic-block {
  background-image: linear-gradient(-180deg, #98BDE2 0%, #6A9CD0 100%);
  text-align: center;
  img {
    max-width: 70%;
    height: auto;
    margin: 2em;
  }
}
.features-list {
  list-style: none;
  li {
    margin-bottom: 1em;
  }
}
.widget-in-app-sample {
  box-shadow: $shadow--level-1;
  border: $rule;
  margin-bottom: 1em;
}
.bullet-point {
  &__container {
    border: thin solid rgba(0,0,0,0.12);
    border-radius: 50%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1.75em;
    height: 1.75em;
    background: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.12), 0 6px 6px 0 rgba(0,0,0,0.24);
    color: $palette--accent;
    margin-right: 0.5em;
    i {
      display: flex;
    }
  }
}
.samples {
  background-image: linear-gradient(-180deg, #98BDE2 0%, #6A9CD0 100%);
  padding: 4em 0;
  h4 {
    padding: 1em;
  }
}
.or-block {
  padding: 1em;
  color: #fff;
  p {
    padding: 0 2em;
    @extend .bf-display;
  }
  &__rule {
    width: 180px;
  }
}
.cta {
  /*background-image: linear-gradient(-180deg, #EAAF65 0%,  $palette--accent 100%);*/
  background: #FFF;
  padding: 4em 0;
  &__divider {
    margin: 1em 2em;
  }
}
